@value xl, lg, md, sm, xs from '../breakpoints.css';

.searchResults {
  gap: 25px;
}

.searchResults,
.endOfResults,
.searchErrorPlaceholder,
.searchResultsPlaceholder {
  margin-top: 40px;
}

.endOfResults,
.searchErrorPlaceholder,
.searchResultsPlaceholder {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 0.8em 2em;
  background: linear-gradient(90deg, #90cea1 0%, #01b4e4 100%);
  border-radius: 100px;
  color: #000;
}

.endOfResults,
.searchResultsPlaceholder {
  max-width: 90%;
  width: auto;
}

.spinnerContainer {
  margin-top: 150px;
}

.spinner {
  width: 50px;
}

.loadMore {
  margin-top: 35px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  padding: 0.8em 1.5em;
  background: #01b4e4;
  box-shadow: 0px 0px 15px 5px #655283;
  line-height: var(--body-line-height);
}

.loadMore:hover {
  background-color: #90cea1;
}

.loadMore:active {
  transform: scale(0.95);
}

.endOfResults {
  cursor: default;
}

@media xl {
  .searchResults,
  .searchErrorPlaceholder,
  .searchResultsPlaceholder {
    margin-top: 0px;
  }
}
