@value xl, lg, md, sm, xs from '../breakpoints.css';

.searchResults,
.searchResultsPlaceholder {
  margin-top: 150px;
}

.searchResultsPlaceholder {
  text-align: center;
  font-size: 18px;
}

.spinnerContainer {
  margin-top: 150px;
}

.spinner {
  width: 50px;
}

@media xl {
  .searchResults,
  .searchResultsPlaceholder {
    margin-top: 105px;
  }
}

@media sm {
  .searchResults,
  .searchResultsPlaceholder {
    margin-top: 90px;
  }
}
