@value xl, lg, md, sm, xs from '../breakpoints.css';

.searchControl {
  height: 50px;
  position: relative;
}

.searchInput {
  height: 100%;
  width: 100%;
  background-color: #195578;
  border: none;
  border-radius: 100px;
  font-size: 18px;
  color: #fff;
  padding: 0.5em 95px 0.5em 2.2em;
}

.searchInput::placeholder {
  color: var(--main-font-color);
  opacity: 1;
}

.searchInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--main-font-color);
  opacity: 1;
}

.searchInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--main-font-color);
  opacity: 1;
}

.searchSubmit {
  height: 100%;
  width: 75px;
  background: url(../graphic/Search-Scope-Icon.svg) center / auto 45% no-repeat;
  background-color: var(--light-blue-accent);
  border: none;
  border-radius: 100px;
  position: absolute;
  right: 0;
}

@media xl {
  .searchControl {
    height: 45px;
  }
}
